.header__lang-link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 111%;
    text-align: right;
    padding-left: 18px;
    color: #FFFFFF;
    text-decoration-line: underline;
}
