.header {
    /*
width: 100vh;
min-height: 42px;
max-height: 52px;
min-width: 288px;
max-width: 1184px;
*/
min-height: 42px;
width: auto;
padding-top: 16px;
margin-left: 16px;
margin-right: 16px;
margin-bottom: 48px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
border: 1px solid red;
box-sizing: content-box;
}